[submodule "public/cm"]
	path = public/cm
	url = https://github.com/chenjycm/cm.git
[submodule "public/zldl"]
	path = public/zldl
	url = https://github.com/zhaolandelong/my-js.git
[submodule "public/resume"]
	path = public/resume
	url = https://github.com/chenjycm/resume.git
[submodule "public/layout"]
	path = public/layout
	url = https://github.com/zhaolandelong/my-html-CSS.git
[submodule "public/uploadfiles"]
	path = public/uploadfiles
	url = https://github.com/chenjycm/uploadfiles
