<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cmapis</title>
    <style>
        h5 {
            cursor: pointer;
        }

        label {
            color: #f60;
        }

        .apiwrap {
            overflow-x: scroll;
            padding: 0 15px;
            background-color: #eee;
            border: 1px solid #ccc;
        }

        .apidesc {
            color: #080;
        }
    </style>
</head>

<body>
    <h1>{{title}}:</h1>
    <ol id="apis">
        {{each apis as api i}}
        <li>
            <h5><span>▼</span>{{api.desc}}</h5>
            <div class="apiwrap" style="display:none;">
                <pre><label>url : </label><span class="apidesc">{{api.url}}</span></pre>
                <pre><label>type : </label><span class="apidesc">{{api.type}}</span></pre>
                <pre><label>data : </label><span class="apidesc">{{api.data | api}}</span></pre>
                <pre><label>res : </label><span class="apidesc">{{api.res | api}}</span></pre>
            </div>
        </li>
        {{/each}}
    </ol>
    <script>
        for (var i = 0, titles = document.getElementsByTagName('h5'); i < titles.length; i++) {
            titles[i].addEventListener('click', function() {
                this.children[0].innerHTML = this.children[0].innerHTML == '▲' ? '▼' : '▲';
                this.nextElementSibling.style.display = this.nextElementSibling.style.display == 'none' ? 'block' : 'none';
            });
        }
    </script>
</body>

</html>
