<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <style>
        body {
            margin: 0;
            padding: 0 10px;
        }

        li {
            padding: 10px 0;
        }

        a {
            margin: 10px 0;
            display: inline-block;
            text-decoration: none;
            border: 1px solid #ccc;
            padding: 10px 20px;
        }

        #apis li>p {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1 style="text-align:center;font-size:28px;">{{h1}}</h1>
    <div>{{desc}}</div>
    <h3>zldl's progs(demo1-nativejs demo2-seajs):</h3>
    <ol>
        {{each zldl as val}}
        <li>
            {{val.title}}
            <br> {{each val.links as link i}}
            <a href="{{link}}">demo{{i+1}}</a> {{/each}}
        </li>
        {{/each}}
    </ol>
    <h3>cm's progs:</h3>
    <ol>
        {{each cm as val}}
        <li>
            {{val.title}}
            <br> {{each val.links as link i}}
            <a href="{{link}}">demo{{i+1}}</a> {{/each}}
        </li>
        {{/each}}
    </ol>
</body>

</html>
